    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="widt=device-width, initial-scale=1.0">
            <title>Resume Parser</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        </head>
    <body>
        <div class="container">
            <div class="header-section">
            <h2>Resume Parser</h2>
            <form id="uploadForm" enctype="multipart/form-data">
                <div class="file-input">
                    <label for="file">Upload your resume(PDF only):</label>
                    <input type="file" id="file" name="file" accept=".pdf" required >
                </div>
                <button type="submit" class="upload-btn">Upload and Parse</button>
            </form>
            <div class = form>
            <form id="searchForm" class="search-form">
                <div class="search-input">
                    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Enter phone number" class="search-bar">
                </div>
                <button type="submit" class="search-btn">Search</button>
            </form>
            <form id="parseForm" class="parse-form">
            <div class="search-input">
                <input type="text" id="phoneNumber1" name="phoneNumber1" placeholder="Enter phone number" class="search-bar">
            </div>
            <button type="submit" class="parse-btn">Parse</button>
           </form>
        </div>
        <div id ="job-page-container">
        <form id="jobForm" class="job-form">
            <button type="submit" class="job-btn">Job Matcher</button>
           </form>
        </div>

            <div class="loading" id="loading">  
                <span></span>
            </div>
        </div>
        
        <div class="content-section">
        <div class="left-side">
            <div class="results" id="results">
                <p><a href="/download" download>
                <button id = "download-btn" type="submit" class="download-btn">Download Resume</button>
                </a></p> 
                <!-- <h3>Parsed Results:</h3> -->
                <form id="editForm">
                    <div class="result-row">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" />
                    </div>
                    <div class="phn-div">
                    <div class="result-row">
                        <label for="phoneNo">Phone Number:</label>
                        <input type="text" id="phoneNo" name="phoneNo" />
                    </div>
                    <div class="result-row">
                        <label for="countryCode">Country code:</label>
                        <input type="text" id="countryCode" name="countryCode">
                    </div>
                    </div>
                    
                    <div class="result-row">
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" />
                    </div>
                    <div class="result-row">
                        <label for="degree1">Highest Qualification:</label>
                        <input type="text" id="degree1" name="degree1" />
                    </div>
                    <!-- <div class="result-row">
                        <label for="degree2">Under Graduation:</label>
                        <input type="text" id="degree2" name="degree2" />
                    </div> -->
                    <div class="result-row">
                        <label for="passOutYear1">Passout year:</label>
                        <input type="text" id="passOutYear1" name="passOutYear1" />
                    </div>
                    <div class="result-row">
                        <label for="college">College:</label>
                        <input type="text" id="college1" name="college1" />
                    </div>
                    <div class="result-row">
                        <label for="percentage1">Percentage</label>
                        <input type="text" id="percentage1" name="percentage1">
                    </div>
                    <div class="result-row">
                        <label for="jobTitle">Job title:</label>
                        <input type="text" id="jobTitle" name="jobTitle" />
                    </div>
                    <div class="result-row">
                        <label for="yearsOfExp">Years of Experience:</label>
                        <input type="text" id="yearsOfExp" name="yearsOfExp" />
                    </div>
                    <div class="result-row">
                        <label for="organization">Current Organization:</label>
                        <input type="text" id="organization" name="organization" />
                    </div>

                    <button type="submit" class="submit-btn">Submit</button>
                </form>
            </div>
            </div>
        
        <div class="right-side">
            <div class="section" id="skillsSection" style="display: none;">
            <h4>Skills <span class="toggle-symbol">(+)</span></h4>
            <div class="section-content">
                <div class="result-row">
                <h5>Programming Languages:</h5>
                <textarea type="text" name="pl" id="pl"></textarea>
                </div>
                <div class="result-row">
                <h5>Frontend Skills:</h5>
        
                <textarea type="text" name="fs" id="fs"></textarea>
                </div>
                <div class="result-row">
                <h5>Backend skills:</h5>
        
                <textarea type="text" name="bs" id="bs"></textarea>
                </div>
                <div class="result-row">
                <h5>Databases:</h5>
                
                <textarea type="text" name="ds" id="ds"></textarea>
                </div>
                <div class="result-row">
                <h5>Other skills</h5>
                <textarea type="text" name="os" id="os"></textarea>
                </div>
            </div>
            </div>

            <div class="section" id="profileSummarySection" style="display: none;">
                <h4>Profile Summary <span class="toggle-symbol">(+)</span></h4>
                <div class="section-content">
                    <div class="result-row">
                <textarea type="text" name="summary" id="summary"></textarea>
                </div>
            </div>
            </div>

            <div class="section" id="certificationsSection" style="display: none;">
                <h4>Certificates <span class="toggle-symbol">(+)</span></h4>
                <div class="section-content">
                    <div class="result-row">
                <textarea type="text" name="certifications" id="certifications"></textarea>
                </div>
            </div>
            </div>

            <div class="section" id="projectsSection" style="display: none;">
                <h4>Projects <span class="toggle-symbol">(+)</span></h4>
                <div class="section-content">
                    <div class="result-row">
                <textarea type="text" name="projects" id="projects"></textarea>
                </div>
            </div>
            </div>

            <div class="section" id="orgSection" style="display: none;">
                <h4>Experience Details <span class="toggle-symbol">(+)</span></h4>
                <div class="section-content">
                    <button id="addRowBtn">+</button>
                    <button id="deleteAddedRowsBtn">-</button>
                        <table id ="org-table">
                            <thead>  
                              <tr>
                                <th>Organization</th>
                                <th>Starting year</th>
                                <th>Ending year</th>
                              </tr>
                          </thead>
                          <tbody contenteditable="true">
                            
                            </tbody>
                            </table>
                         </div>
                         </div>    


            <div class="section" id="educationSection" style="display: none;">
                <h4>Education Details <span class="toggle-symbol">(+)</span></h4>
                <div class="section-content">
                    <button id="eduaddRowBtn">+</button>
                    <button id="edudeleteAddedRowsBtn">-</button>
                        <table id ="education-table">
                            <thead>  
                              <tr>
                                <th>Degree</th>
                                <th>College</th>
                                <th>Pass out year</th>
                                <th>Percentage</th>
                              </tr>
                          </thead>
                          <tbody contenteditable="true">
                            <td><button class="deleteBtn">Delete</button></td>
                            </tbody>
                        </table>   
                    </div>
                </div>
            </div>
            </div>
        </div>

        <script src="{{url_for('static',filename='script.js')}}">
        </script>
    </body>
    </html>