<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Feature extraction from Resume</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <form id="predict-form" action="/predict" method="POST" enctype="multipart/form-data">
                <h1>Feature extraction from Resume</h1>
    
                <div class="input-section">
                    <label for="image-url">Enter Image URL:</label>
                    <input type="text" id="image-url" name="url" placeholder="Enter image URL here">
                </div>
    
                <div class="upload-section">    
                    <label for="image-upload">Or Upload an Image:</label>
                    <input type="file" id="image-upload" name="image-upload" accept="image/*">
                </div>
    
                <button type="submit" id="predict-btn">Predict</button>
            </form>
    
            <h2 id = "graphhead",class="graph"></h2>
    
            <canvas id="bargraph" width="400" height="400"></canvas>
    
            <div id="predictionText" style="font-size: 18px; margin-top: 20px; font-weight: bold;"></div>
        </div>
    
</html>