<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills Matcher</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="container">

        <div class="form1">
        <h1>Skills Matcher </h1>

        <form id="skillsForm">
            <label for="skills">Enter Skills for Job Requirement (comma separated):</label>
            <input type="text" id="skills" required>

            <button type="submit">Submit</button>
        </form>
    </div>


       <div class="form2">
        <h1>Job Description Matcher </h1>
        <form id="descForm">
            <label for="desc">Enter Job Description:</label>
            <input type="text" id="desc" required>

            <button type="submit">Submit</button>
        </form>

    </div>

        <div id="output" class="output">
            <h2>Result</h2>
            <div id="result">
                <table id ="outTable">
                  <thead>  
                    <tr>
                      <th>Name</th>
                      <th>Phone Number</th>
                      <th>Email</th>
                      <th>Matched Percentage</th>
                      <th>Unmatched Skills</th>
                    </tr>
                </thead>
                <tbody>
                  

                  </tbody>
                  </table> 
                                
            </div>
        </div>
        <div id="output1" class="output1">
            <h2>Result</h2>
            <div id="result">
                <table id ="outTable1">
                  <thead>  
                    <tr>
                      <th>Name</th>
                      <th>Phone Number</th>
                      <th>Email</th>
                      <th>Matched Percentage</th>
                    </tr>
                </thead>
                <tbody>
                  

                  </tbody>
                  </table> 
                                
            </div>
        </div>   

    </div>

    <script src="{{url_for('static',filename='script1.js')}}">
        
    </script>
</body>
</html>
